/*
===========
Fonts
===========
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&display=swap');


:root {
  --primaryLightColor: #74BF46;
  --primaryDarkColor: #293039;
  --mainWhite: #FFF9F5;
  --offWhite: #F6EAE3;
  --mainBlack: #0B0B0B;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(198, 196, 196, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(150, 148, 148, 0.5);
  --mainBorderRadius: 0.25rem;
  --fullWidth: 100%;
}

/*
====================
Global variables
====================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Raleway', sans-serif;
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

