/*
===========
Fonts
===========
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&display=swap');


:root {
  --primaryLightColor: #DE2604;
  --lightRed: #ff3d3d;
  --mainWhite: #FFF9F5;
  --offWhite: #F6EAE3;
  --mainBlack: #0B0B0B;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(198, 196, 196, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(150, 148, 148, 0.5);
  --mainBorderRadius: 0.25rem;
  --fullWidth: 100%;
}

/*
====================
Global variables
====================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Raleway', sans-serif;
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}



/*
====================
Form Styling
====================
*/

.login-form{
  background-image: url("images/background-form.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.login-form:after {
  background: rgba(0, 0, 0, 0.8);
}


.login-form-row{
  min-width: 33em;
  padding: 1em;
  opacity: 90%;
  border-radius: var(--mainBorderRadius);
  background: rgba(23, 23, 23, 0.9);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);

}

.login-form h3,
.login-form p{
  color: var(--mainWhite);
  font-weight: 700;
  text-align: center;
  text-shadow: var(--lightShadow);
}


#basketball{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  animation-name: fly;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes fly {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(65px);
  }
  100% {
    transform: translateY(20px);
  }
}

span.icon-animation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.basketball-icon{
  color: var(--primaryLightColor);
  font-size: 2em;
}

label{
  color: var(--lightRed);
  font-weight: 700;
}
/*
====================
Form Button
====================
*/
button.btn-form {
  margin: 1.5em 0 1.5em 0;
  border: 1px solid var(--mainWhite);
  outline: none;
  color: var(--mainWhite);
  background: var(--mainBlack);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: var(--mainBorderRadius)
}

button.btn-form:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: var(--mainBorderRadius);
}

button.btn-form:active {
  color: var(--mainWhite);

}

button.btn-form:active:after {
  background: var(--mainBlack)
}
button.btn-form:hover{
  color: var(--mainWhite);
}

button.btn-form:hover:before {
  opacity: 90%;
}

button.btn-form:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--mainBlack);
  left: 0;
  top: 0;
  border-radius: var(--mainBorderRadius);
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/*
====================
Form Links
====================
*/

.forgot-password{
  color: var(--mainWhite);
}

.link-navigation{
  color: var(--primaryLightColor);
}

.link-navigation:hover,
.link-navigation:focus,
.link-navigation:active{
  color: var(--primaryLightColor);
  text-shadow: var(--lightShadow);
  text-decoration: none;
}

.nav-fx{
 background-color: var(--mainBlack);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.nav-link{
  padding: 0.8em 1.5em .8em 1.5em!important;
  color: var(--mainWhite);
  border: 1px solid var(--lightRed);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus{
  color: var(--mainWhite);
}

.user-name{
  color: var(--mainWhite);
  padding-right: 1em;
}

.nav-logged-in{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/*
====================
Media Queries
====================
*/

@media screen and (max-width: 425px) {
  .login-form-row{
    min-width: var(--fullWidth)
  }
  .user-name{
    font-size: .8em;
  }
}

